extends layout

block content
  h1= title
  h3= titleOfPage
    form#searchBox(action='/client/neworder')
      br
      h4= 'Place a new order:'
      input(type='text', name='query')
      br
      input(type='submit', value='New Order')
    br
    form#searchBox(action='/client/existingorder')
      h4= 'Check up on exisitng order: '
      input(type='text', name='query')
      br
      input(type='submit', value='Existing order')
    h3(style={color: 'red'})= qTitle
    h4= qResult


