extends layout

block content
  h1= title
  p= titleOfPage
  br
  p= JSON.stringify(oHistory)
  br
  form#searchBox(action='/client/pullorder')
    h4= 'Check on specific order by orderID: '
    input(type='text', name='orderID')
    br
    button.btn(type='submit') Existing order
  h3= qTitle
  h4= qResult


