extends layout
script(src='lib/jquery/jquery-1.7.1.min.js')

block content
  h1= 'Farmer backend interface'
  p= 'Here you can manage all related aspecs of supply, demand and order fullfilment'
  br

  form(action='/farmer')
    select(name='option')
      option(value='p') Pending orders
      option(value='c') Completed Orders
      option(value='q') Quota Managment
    br
    button.btn(type='submit') Submit
  h3= infoTitle
  if resultValues == 'Quota'
    if qResult == '[object Object]'
      table
        tr
          td
            center
              b Farmer's Name
          td
            center
              b Items Description
          td
            center
              b Quota in KGs
        each val in qResult.Items
          tr
            td
              center= val.farmerName.S +'   '
            td
              center= val.offeredGoods.S +'   '
            td
              center= val.Capacity.N
    else
      h4= qResult
    br
    h4= 'Update your quota:'
    br
    form#searchBox(action='/farmer/updateQuota')
      h5= 'Farmer\'s name: '
      input(type='text', name='fName')
      h5= 'Item\'s name: '
      select(name='itemToUpdate')
        option(value='Apples') Apples
        option(value='Tomatoes') Tomatoes
      br
      h5= 'New quota: '
      input(type='text', name='newQuota')
      br
      button.btn(type='submit') Update
    br
  if resultValues == 'Completed'
    if qResult == '[object Object]'
      table
        tr
          td
            center
              b Farmer's Name
          td
            center
              b Order Date
          td
            center
              b Apples (KG)
          td
            center
              b Tomatoes (KG)
        each val in qResult.Items
          tr
            td
              center= val.farmerName.S +'   '
            td
              center= val.offeredGoods.S +'   '
            td
              center= val.Capacity.N
    else
      h4= qResult
  if resultValues == 'Pending'
    if qResult == '[object Object]'
      table
        tr
          td
            center
              b Farmer's Name
          td
            center
              b Order Date
          td
            center
              b Apples (KG)
          td
            center
              b Tomatoes (KG)
        each val in qResult.Items
          tr
            td
              center= val.farmerName.S +'   '
            td
              center= val.offeredGoods.S +'   '
            td
              center= val.Capacity.N
    else
      h4= qResult