extends ../layout
block content
   h1= 'Stock Summery'
   div
      legend Total Farmers Offering For This Week
      table#dataTable(width='350px', border='4')
         thead
            tr#headtag
               th Item
               th In stock (KG)
               th Ordered (KG)
         tbody
            each item in totalOffering
               tr(align='center')
                  td= item.Name
                  td= item.InStock
                  td= item.Ordered
      br
      br

      legend Offering per farmer for this week
      table#dataTable(width='350px', border='4')
         thead
            tr#headtag
               th Item
               th Farmer Name
               th Offering (KG)
         tbody
            each offer in farmerOffering
               tr(align='center')
                  td= offer.Name
                  td= offer.Farmer
                  td= offer.stock

