extends ../layout
block content
   h1= 'Stock Summery'
   h4 Total Farmers Offering For This Week
   p
   table
      thead
         tr#headtag
            th |
            th Item
            th |
            th In stock (KG)
            th |
            th Ordered (KG)
            th |
      tbody
         each item in totalOffering
            tr
               td |
               td= item.Name
               td |
               td= item.InStock
               td |
               td= item.Ordered
               td |
   br
   br

   h4 Offering per farmer for this week
   p
      table
         thead
            tr#headtag
               th |
               th Item
               th |
               th Farmer Name
               th |
               th Offering (KG)
               th |
         tbody
            each offer in farmerOffering
               tr
                  td |
                  td= offer.Name
                  td |
                  td= offer.Farmer
                  td |
                  td= offer.stock
                  td |

